body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
}

a {
  color: #c42126;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c42126;
  text-decoration: underline;
}

.page-header {
  font-family: 'Syncopate';
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
  color: #c42126;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Syncopate";
}

.navbar-default {
  background-color: #fff;
  /*border-color: #e7e7e7;*/
}

.navbar-default .navbar-brand {
  color: #c42126;
}