
	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-link">
			{{ with .Site.Params.email }}<a rel="me" class="u-email" href="mailto:{{ . }}" target="_blank">Email</a></span>{{ end }}
			{{ with .Site.Params.social.twitter }}<a rel="me" href="https://twitter.com/{{ . }}" target="_blank">Twitter</a></span>{{ end }}
			{{ with .Site.Params.social.linkedin }}<a rel="me" href="//www.linkedin.com/in/{{ . }}" target="_blank">Linkedin</a></span>{{ end }}
			{{ with .Site.Params.social.github }}<a rel="me" href="https://github.com/{{ . }}" target="_blank">GitHub</a></span>{{ end }}
			{{ with .Site.Params.social.googleplus }}<a rel="me" href="https://plus.google.com/{{ . }}" target="_blank">Google</a></span>{{ end }}
		</div>
		<div class="copyright">Copyright &copy; <a class="u-url" href="{{ .Site.BaseURL }}">{{ .Site.Params.copyright }}</a> All rights reserved.</div>
	</footer>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15275173-7', 'auto');
  ga('send', 'pageview');

</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
