  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
          <h1>{{ .Title }}</h1>
          <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          {{ .Content }}
        </div>
       <!--  <section class="post-comments">
     <script type="text/javascript">
        var disqus_identifier = "{{ .LinkTitle }}";
        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://albush.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
</section> -->
      </div>
    </div>
  </body>
  {{ partial "script.html" .}}
</html>
