{{ partial "header.html" . }}
{{ $article := .Params.article }}
{{ $publication := .Params.publication }}
	<main role="main">
		<article itemscope itemtype="//schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1></br>

		<div class="container">
		      {{ $a :=  (index $.Site.Data.writing $article) }}
					{{ $p :=  (index $.Site.Data.publications $publication) }}
		      <div class="row">
		            <div class="col-md-3">
		              <a rel="author" href	="{{ $a.ExternalLink }}"><img alt = "{{ $a.Title }}" src = "{{ $a.FeatureImage }}" class="img-responsive"></a>
		            </div>
		          <div>
							</br>
		            <h2>Article Title: <a rel="author" href="{{ $a.ExternalLink}}" target="_blank">{{ $a.Title }}</a></h2>
								{{ if isset $p "Publication" }}
		              <p>Published in: <a href = "{{ $p.PublicationLink}}">{{ $p.Publication }}</a></br>
									Published on: {{ dateFormat "January 2, 2006" $a.PublicationDate }}</p>
		            {{ end }}
								{{ if isset $a "LongDescription" }}
		              <p>{{ $a.LongDescription | markdownify }}</p>
		            {{ end }}
		          </div>
		      </div>
		</div>
		</article>
	</main>




{{ partial "footer.html" . }}
