<div class="section hero">
       <div class="container bizcard">
           <div class="row">
             <div>
               <div class="ten columns offset-by-one"><b>Alan Bush</b><br></div>
                <div class="four columns offset-by-one"><a href="mailto:al@albush.com">al@albush.com</a><br>210-704-7319<br><a href="https://twitter.com/alanbush">@alanbush</a></p></div>
                 <div class="four columns offset-by-two"><p>github: <a href="http://github.com/albush">albush</a><br>linkedin: <a href="http://www.linkedin.com/in/adbush">adbush</a><br>google+: <a href="https://plus.google.com/+AlanBush">+AlanBush</a>  </p></div>
                 {{ with .Site.Params.description }}
               <div class="ten columns offset-by-one p-note">{{.| markdownify}}{{end}}</div>
                </div>
       </div>
   </div>
 </div>
