{{ partial "header.html" . }}
{{ "<!-- ENTERING layout/section/notes.html -->" | safeHTML }}
	<main role="main">
		<h1 class="list-title">A microblog, or something</h1>
{{ range .Data.Pages }}
<div class="container bizcard">
		<article class="h-entry">
			<section class="e-content" itemprop="entry-text">
			{{ .Content }}
		</section>
		</article>
		<img class="u-photo" src="{{ .Site.Params.logo }}" width="60" height="60">
		<span class="entry-meta dt-published"><a class="u-url" href="{{.Permalink}}"><time class="dt-published" datetime="{{ .Date | safeHTML }}">{{ .Date.Format "January 02, 2006" }}</time></a>	{{ if isset .Params "author" }}
				{{ $author := index .Site.Params.authors .Params.author }}
					by <a class="p-author h-card" href ="{{ .Site.BaseURL }}">{{ with $author.social.name }}{{ $author.social.name }}{{ end }}</a>
			{{ end }}</span>
	</div>
{{ end }}
	</main>
{{ "<!-- LEAVING layout/section/notes.html -->" | safeHTML }}
{{ partial "footer.html" . }}
